<div class="max-w-md flex flex-col items-center gap-4 h-full w-full justify-center">
    Dummy Placeholder for BASEURL/voter/
    <div class="card bg-base card-md shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Voting Instructions</h2>
            <p>
                Instruct the user that they must tap a nfc tag in a cosounds enabled room in order to cast a vote. Could perhaps show a animation or video to help drive the point
            </p>
            <div class="justify-end card-actions">
                <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
</div>
