<c-vars id=""
        layer_type="Layer"
        gain_level="0.5"
        sound_name="Unknown Sound"
        recording_artist="Unknown Artist"
        artwork_url="" />
<div id="{{ id }}"
     class="carousel-item w-full"
     data-layer-type="{{ layer_type }}"
     data-gain="{{ gain_level }}"
     data-sound-name="{{ sound_name }}"
     data-recording-artist="{{ recording_artist }}">
     <img src="{{ artwork_url }}"
          alt="{{ sound_name }}"
          class="w-full object-cover rounded-box" />
</div>
